*{
    /* border: black;
    border-style: solid; */
}

.receta{
    display: flex;
}

.divmenu{
    height: 10%;

}

.divrecetas{
    height: 90%;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

section {
    margin: 20px 0;
}

article {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-top: 50px;
    scroll-margin-top: 90px
}


article ul{
    text-decoration-line: underline;
}

.destacado {
    background-color: #ffcc66;
    text-align: center;
    margin: 0;
    margin-bottom: -30px;
    margin-top: 7%;
}

h2 {
    color: #ff9900;
}


img{
    width: 350px;
    padding: 15px;
    
}

/* START menu */

.menu {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    
    height: 10%;

}

.menu li {
     display: inline-block; /* horizontal navigation menu marked up using an unordered list with <li> elements displayed as inline-block elements. */

  }

.menu a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

.menu a:hover {
    background-color: #575757;
}


  /* END menu */


  /* Start footer */

.foot {
    background-color: #333;
    width: 100%;
    margin-bottom: 10px;
    color: #f5f5f5;
    text-align: center;
}

.foot a{
    color: #f5f5f5;
}

.foot img{
    width: 50px;
    padding: 15px;
    
}

  /* End Footer */


  /* 
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 400 
  */
  
  .playwrite-cu-fontgoogle{
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


  h1{
    font-family: 'Playwrite CU';
    font-size: 50px;
    font-weight: 800;
  }
  

  .descriptionheader{
    font-family: 'Playwrite CU';
    font-size: 20px;
    font-weight: 10;

  }